@model EmployeeRepositoryDesignPattern.Models.EmployeeDetails
@{
    ViewData["Title"] = "Details";
}

<h1 style="position:center; color:cornflowerblue">Employee Details</h1>
<hr/>
<div class="container">
    <dl class="row">
        <dt class="col-sm-3">
            <label>Id:</label>
        </dt>
        <dd class="col-sm-9">
            @Model.EmployeeId
        </dd>
        <dt class="col-sm-3">
            <label>Name:</label>
        </dt>
        <dd class="col-sm-9">
            @Model.EmployeeName
        </dd>
        <dt class="col-sm-3">
            <label>Description</label>
        </dt>
        <dd class="col-sm-9">
            @Model.EmployeeDescription
        </dd>
        <dt class="col-sm-3">
            <label>Phone:</label>
        </dt>
        <dd class="col-sm-9">
            @Model.EmployeePhone
        </dd>
        <dt class="col-sm-3">
            <label>Is Active:</label>
        </dt>
        @if(Model.IsActive == true)
        {
            <dd class="col-sm-9">
                Yes
            </dd>
        }
        else
        {
            <dd class="col-sm-9">
                No
            </dd>
        }
    </dl>
    <div>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Employee">Back to list</a>
        <a class="btn btn-primary" asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.EmployeeId">Edit</a>
    </div>
</div>

